<!DOCTYPE html>
<html style="font-family: 'Tomorrow', sans-serif;">
    <head>
        <title>theLab</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../assets/uikit/css/uikit.min.css" />
        <script src="../assets/uikit/js/uikit.min.js"></script>
        <script src="../assets/js/script.js"></script>
        <script src="../assets/uikit/js/uikit-icons.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Tomorrow&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="../assets/images/favicon-32x32.png" type="image/x-icon">
				{{!-- <script src="../assets/js/main.js"></script> --}}
    </head>

<body>
	<div></div>
	{{{ body }}}
</body>

</html>